  <div class="jumbotron masthead">
    <div class="container">          
      <h1>Enter your brilliant idea here!</h1>
      <p>This is where you can jot down cool web app ideas.</p>
    </div>  
  </div>
</div>  