<div class="jumbotron masthead">
      <h1><strong>Enter your brilliant idea here!</strong></h1>
      <h3><em>The ultimate list of startup ideas.</em></h3>
      <div class="container">
          <%= render 'form' %>
      </div>    
</div>  
